.table .btn-danger{
   margin-left: 10px; 
}

.table button{
    margin: -5px 0 -5px 0;
}
.table .estado{
    font-weight: bold;
}

/*---------------------------------------------------*/

.contenido{
    margin-left:2%;
    min-height:68vh;
}

.pestania{
    padding:0 100px 0 100px;
}

.panel{
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.5);
}

.input-group{
    margin:2%;
}

#registrarCliente{
    margin-bottom:1%;
}

.datosHorarioAtencion{
    margin-top:20px;
}

.tablaHA{
    text-align:center;
}

.centrarIUBoton{
    text-align: center;
}

.listCliP{
    overflow:auto;
    max-height:20vh;
}

.listCliP li:hover{
    background-color:#e2dada;
    cursor:pointer;
}

.listCliP li a{
    text-decoration:none;
    color:black;
}

#listCliPNoEncontrado{
    display: none;
}
#listCliPNoEncontrado:hover{
    background-color: white;
}


#mensajeNoHay {
    background-color: #CCC;
    border-radius: .3em;
    padding: 2vh 0;
    font-size: 120%;
    font-weight: bold;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}