.fondo {
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 1vw;
}

.fondo2 {
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
}

.mapa {
    margin-top: 2.24vh;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,.5);
}

.form {
    margin-top: 2vh;
}

.boton {
    margin-top: 2vh;
    text-align: center;
}

#btnConfirmar {
    width: 50%;
}

#leyenda {
    width: 25%;
    background-color: #fff;
    padding: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    font-size: 1.2em;
    border-radius: 3pt;
}

#busqueda {
    border-radius: 3pt;
    background-color: #fff;
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1.2em;
}

#leyenda h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 2vh;
    text-align: center;
}

#leyenda text {
    font-weight: bold;
}

#leyenda p {
    margin-top: 1vh;
}

.iconoLeyenda {
    margin: 0 1vw 0 0;
}

.imgLeyenda {
    width: 25pt;
    height: 30pt;
    margin: 0 1vw 0 0;
}

#hospitalBorrar {
    margin: 0;
}

#borrarNombre {
    margin: 0;
    padding: 0;
}

#btnBorrarHospital {
    float: left;
}

#divBtnConfirmar {
    text-align: center;
}

#modalDetallesHospital .modal-title {
    float: left;
}

#modalDetallesHospital .close {
    float: right;
}

#modalDetallesHospital #btnAdministradore {
    margin-right: 4vw;
    float: right;
}

#listadoAdministradores {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#divBotones {
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,.5);
}

#divBotones::after {
    content: "";
    display: table;
    clear: both;
}

.separador {
    margin: 0 auto;
}

#msjUsuario {
    background-color: #CCC;
    border-radius: .3vw;
    padding: 1vw;
    text-align: center;
}

#btnCerrarAdministradores {
    float: left;
}

#btnAsignarAdmin {
    display: none;
    float: right;
}

#campoCI,
#campoCorreo,
#campoPass {
    display: none;
}

#divOpciones {
    text-align: center;
}

#divOpciones button {
    width: 100%;
    margin: 5pt 0;
}

#divMostrarRuta {
    border-radius: 3pt;
    background-color: #EEE;
    padding: 3pt 3pt 0 3pt;
}

#divMostrarRuta label,
#divMostrarRuta select {
    width: 100%;
}

#divEstadoSus {
    border-radius: 3pt;
    background-color: #EEE;
    padding: 3pt 3pt 0 3pt;
}

#divEstadoSus label,
#divEstadoSus select {
    width: 100%;
}