#icono{
    width:40pt; 
    height:40pt;
    margin-left: 1pt;
}

#titulo{
    margin-top: 0px;
    margin-left: 2px;
    font-size: 30px;
    color: white;
}

#menu{
  font-size: 15px;
  color: white;
}

#c-menu{
    margin-left: 10pt;
}

#menu-boton{
  margin-top:0.4%;
}

.navbar-nav.padding{
    margin-left: 20%;
}



