#icono{
    width:40pt; 
    height:40pt;
    margin-left: 1pt;
    border: none;
}

#titulo{
    margin-top: 0px;
    margin-left: 2px;
    font-size: 30px;
    color: white;
}

.navbar-nav.padding{
    margin-left: 20%;
}

#btnCerrarSesion{
    float:right; 
    margin-top : 8px;
    height: 35px;
}

#btnCerrarSesion > a {
    color:black;
    text-decoration: none;
}
